body {

}

header {
    
    background-color:#ebebeb;
    border-bottom: solid 2px;
    border-bottom-color: #777777
    padding-lef; 
    overflow: auto;
    margi   
}
#bg {
    width: 1024px;
    margin: 0 auto;

}

nav {
    width: 1024px;
    margin: 0 auto;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    width: 200px;
    display: inline-block; 
    letter-spacing: normal;
}

h1 {
    color:white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    float: left;
    padding: 20px;  
    margin-left: 80px; 
    display: inline-block; 

}

h2,h3 {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.full {
    width: 1024px;
    margin: 0 auto;
     
}

.maincontainer {
    width: 960px; 
    margin-top: 15px;
    
    
}

.container{
    font-size: 20px;
    margin: auto;
    border: #dddddd solid 2px;
    width: 650px;
    float: left;
    height: 600px;
    padding: 10px;
}

h2 {
    font-weight: bolder;
    margin-lef auto;
    margin-righauto;
    float: left;
    width: 600px;
    border-bottom: solid 2px;
    border-bottom-color: #777777;
}

#bioimage {
    fl;
    width: 170px;
    height: 200px;
    padding-top:15px;
}

p {
    float: left;
    line-height: 30px;
    padding-top: 15px;
    color: #777777; 
    
}

aside {
    float:right;
    margin-left: 40px;
    width:270px;
    padding: 10px;
    border: #dddddd 2px solid;
}
h3 {
    width: 200px;
    border-bottom: solid 2px;
    border-bottom-color: #666;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#666;
   color:white ;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
   border-top: #4aaaa5 solid 5px;
}
#linkedin {
    width: 60px;
    height: 60px;
}
#Github {
    width: 60px;
    height: 60px;
}
#stack {
    width: 55px;
    height: 55px;
}
ul {
    margin-lef auto;
    margin-righ auto;
}

li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
form {
    float: left;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #275a57;
}
textarea{
    margin-bottom: 
    height: 200px;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}