body {align-content: center;


}

header {
    background-color:#ebebeb;
    border-bottom: solid 2px;
    padding-lef; 
    overflow: auto;
    margi
    
}
nav {
    width:100px;
    padding-top:10px;
    padding-bottom:10px;
    float: right;
    width: 200px;
    display: inline-block; 
    letter-spacing: normal;
    

}
h1 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    padding: 20px;  
    margin-left: 80px; 
    display: inline-block; 

}

h2,h3 {
    color: #4aaaa5

}

.full {
    margin: auto;


}
.maincontainer {
    ;
}
.container{
    width:650px;
    float: left;
    margin-right: 40px
}
aside {
    float: left;
    width:270px;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#666;
   color:white ;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
}


